body{
    background-color: rgb(255, 0, 136);
    background-image: radial-gradient(cyan,green);
}
h1{
    text-transform: uppercase;
}

#home-container{
    display: flex;

    #feed-posts{
        width: 70%;
        padding: 10px;
    }

    #user-friends{
        width: 30%;
        // padding: 10px;
        
        border-left: 1px solid lightgray;
        
    }
}